.row {


    border: solid 1px;
    min-height:200px;

}
.rowby2 {


    border: solid 1px;
    min-height:133px;

}

.tall{
    border: solid 1px;
    min-height:535px;
}


.col {
    border: solid 1px;
}

.c1{
    padding-top: 10px;
}

.mid{
    border: solid 1px;
    min-height:267.50px;
}