.row {


    border: solid 1px;
    min-height:200px;

}
.rowby2 {


    border: solid 1px;
    min-height:133px;

}

.tall{
    border: solid 1px;
    min-height:535px;
}


.col {
    border: solid 1px;
}

.c1{
    padding-top: 10px;
}

.mid{
    border: solid 1px;
    min-height:267.50px;
}

li {
  padding: 0.5em;
}

li.finished {
  text-decoration: line-through;
}

.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}