<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylemain.css">
    <title>Zen~</title>
</head>

<body>
    <div class="big-container">
        <div class="hello-container b">
            <div class="n1 b">Nameaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
            <div class="n2 b">Logout</div>
        </div>
        <br>
        <div class="main-container">
            <div class="left-container b">
                <div class="left-type1">
                    <div class="left-type1 card1 b">
                        motivation 4 u
                    </div>
                    <div class="left-type1 card2 cardflex b">
                        <button class="half"> half1 </button>
                        <button class="half"> half2 </button>
                    </div>
                </div>
                <div class="left-header">
                    <h2>Your stats here</h2>
                </div>
                <div class="left-type1">
                    <div class="left-type1 card1 b">
                        bar chart stats
                    </div>
                    <div class="left-type1 card2 b">
                        Nice 
                    </div>
                </div>
                <div class="left-header">
                    <h2>Sleep tracking</h2>
                </div>
                <div class="left-type1">
                    <div class="left-type1 card1 b">
                        sleep card
                    </div>
                    <div class="left-type1 card2 b">
                        sleepy tips
                    </div>
                </div>
                <div class="left-header">
                    <h2>Keep your notes here!</h2>
                </div>
                <div class="left-type1">
                    <div class="left-notes b">
                        notesuuuuuuuuuuuuuuuuwu
                    </div>
                </div>
                <div class="left-header">
                    <h2>Feeling depres? Try these out!</h2>
                </div>
                <div class="left-type1">
                    <div class="left-type1 card1 b">
                        spot tea 5
                    </div>
                    <div class="left-type1 card2 cardflex b">
                        <button class="third"> P L A Y  A R O U N D  A  D R U M K I T </button>
                        <button class="third"> half2 </button>
                        <button class="third"> half3 </button>
                    </div>
                </div>
            </div>
            <div class="right-container b">
                rightbb
            </div>
        </div>
    </div>
</body>

</html>