<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='istyle.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="c1 col col-10">
                <h1>Zen.</h1>
                {% block content %}
                {% if username %}
                  <p>Hello {{ username }}, How are you doing today?</p>
                {% else %}
                  <p>You are not logged in. Please <a href="{{ url_for('login') }}">log in</a>.</p>
                {% endif %}
                {% endblock %}
            </div>
            <div class="c1 col col-2"><a href="/logout"><button type="button" class="toggle-btn"">Logout</button></a></div>
        </div>
        <div class="tall row">
           <div class="col col-8">
                <div class="mid row">
                    <div class="c1 col col-8">
                        <div style="max-width: 1000px;">
                            <canvas id="myChart"></canvas>
                          </div>
                    
                    </div>
                    <div class=" col col-4"> 
                        <div class="c1 rowby2"><a href="/questions"><button type="button" class="toggle-btn"">How are you doing today?</button></a></div>
                        <div class="c1 rowby2"><a href="/sleep"><button type="button" class="toggle-btn"">How much hours did you sleep today?</button></a></div>
                    </div>
                </div>
                <div class="mid row">
                    <div class="col col-6">stress level?</div>
                    <div class="col col-6">sleep chart</div>
                </div>
            </div>
            <div class="col col-4">
                <div class="col col-11">

                   <h3>To-Do List</h3>
                <input type="text" id="input" placeholder="Add item...">
                <button onclick="addItem()">Add</button>
              <ul id="list"></ul>
                   <script src="{{ url_for('static', filename='js/scripttodo.js') }}"></script>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                          
                          <script>
                    
                            let LineData = [50,69,72,81,24,55]
                    
                            const ctx = document.getElementById('myChart');
                          
                            new Chart(ctx, {
                              type: 'line',
                              data: {
                                labels: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6', 'Day 7'],
                                datasets: [{
                                  label: 'This is your wellness rating, out of 100',
                                  data: LineData,
                                  borderWidth: 1
                                }]
                              },
                              options: {
                                scales: {
                                  y: {
                                    beginAtZero: true
                                  }
                                }
                              }
                            });
                          </script>
                
        </div>
        </div>
    </div>
</div>
</body>
</html>