<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/qstyle.css">
    <!-- <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='../static/qstyle.css') }} -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@200;400;500;700&display=swap" rel="stylesheet">
    <title>Path to zen~</title>
</head>
    <body>
        <div id="container">
          <form method="POST" id="question-form">
            <h3>How was your day?</h3>
            <hr>
            <div class="subContainer">
              <label for="q1-slider"><p>How good day?</p></label>
              <div>
                <input type="range" id="q1-slider" min=0 max=100 value=0 class="slider">
                <div class="score">0</div>
              </div>
            </div>
      
            <div class="subContainer">
              <label for="q2-slider"><p>Chicken how taste?</p></label>
              <div>
                <input type="range" id="q2-slider" min=0 max=10 value=0 class="slider">
                <div class="score">0</div>
              </div>
            </div>
            
            <div class="subContainer">
              <label for="q3-slider"><p>chicken fry fry chicken fry?</p></label>
              <div>
                <input type="range" id="q3-slider" min=0 max=100 value=0 class="slider">
                <div class="score">0</div>
              </div>
            </div>
            
            <div class="subContainer">
              <label for="q4-slider"><p>chicken fry fry chicken fry?</p></label>
              <div>
                <input type="range" id="q4-slider" min=0 max=100 value=0 class="slider">
                <div class="score">0</div>
              </div>
            </div>
            
            <div class="subContainer">
              <label for="q5-slider"><p>chicken fry fry chicken fry?</p></label>
              <div>
                <input type="range" id="q5-slider" min=0 max=100 value=0 class="slider">
                <div class="score">0</div>
              </div>
            </div>
            
            <div class="subContainer">
              <label for="q6-slider"><p>chicken fry fry chicken fry?</p></label>
              <div>
                <input type="range" id="q6-slider" min=0 max=100 value=0 class="slider">
                <div class="score">0</div>
              </div>
            </div>

            <div class="subContainer">
              <label for="q7-slider"><p>chicken fry fry chicken fry?</p></label>
              <div>
                <input type="range" id="q7-slider" min=0 max=100 value=0 class="slider">
                <div class="score">0</div>
              </div>
            </div>

            <div class="subContainer">
              <label for="q8-slider"><p>chicken fry fry chicken fry?</p></label>
              <div>
                <input type="range" id="q8-slider" min=0 max=100 value=0 class="slider">
                <div class="score">0</div>
              </div>
            </div>
            
            <div class="subContainer">
              <label for="q9-slider"><p>chicken fry fry chicken fry?</p></label>
              <div>
                <input type="range" id="q9-slider" min=0 max=100 value=0 class="slider">
                <div class="score">0</div>
              </div>
            </div>
            
            <div class="subContainer">
              <label for="q10-slider"><p>chicken fry fry chicken fry?</p></label>
              <div>
                <input type="range" id="q10-slider" min=0 max=100 value=0 class="slider">
                <div class="score">0</div>
              </div>
            </div>

            <div class="submitContainer">
              <input type="submit" value="Submit" action="" class="sub" style="max-width:500px">
            </div>
          </form>
        </div>
      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"</script>
        </script>
        <!-- <script src="{{ url_for('static', filename='../static/js/qmain.js')}}"></script> -->
      <script src="../static/js/qmain.js"></script>
    </body>
</html>