<html> 
  <head>
    <title>Login and Registration</title> 
    <link rel="stylesheet" href="../static/css/kkstyle.css">
  </head>
  <body onload="register()"> 
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <a href="/login"><button type="button" class="toggle-btn" onclick="login()">Log In</button></a>
                <a><button type="button" class="toggle-btn" onclick="register()">Register</button></a>
            </div>
            <div class="social-icons">
                <img src='../static/images/fb.png'>
                <img src="../static/images/ig.png">
                <img src="../static/images/tw.png">
            </div>
            <form method="POST" id="login" class="input-group">
                <input type="text" name="uname" class="input-field" placeholder="Username" required>
                <input type="text" name="login-passwd" class="input-field" placeholder="Password" required>
                <input type="checkbox" class="check-box"><span>Remember Password</span>
                <button type="submit" class="submit-btn">Log In</button>
            </form>
            <form method="POST" id="register" class="input-group">
                <input type="text" name="uname" class="input-field" placeholder="Username" required>
                <input type="email" name="mail" class="input-field" placeholder="Email ID" required>
                <input type="password" name="passwd" class="input-field" placeholder="Password" required>
                <input type="password" name="passwdr" class="input-field" placeholder="Password again" required>
                <input type="checkbox" id="terms-checkbox" required>
                <label for="terms-checkbox">I agree to the terms and conditions</label>
                <button type="submit" class="submit-btn" onclick="validateForm()">Register</button>
            </form>
        </div>
    </div>
    <script>
        var x= document.getElementById("login");
        var y= document.getElementById("register");
        var z= document.getElementById("btn");

        function register(){
            x.style.left= "-400px";
            y.style.left= "50px";
            z.style.left= "110px";
        }

        function login(){
            x.style.left= "50px";
            y.style.left= "450px";
            z.style.left= "0px";
        }

        function validateForm() {
        if (!document.getElementById("terms-checkbox").checked) {
        alert("Please agree to the terms and conditions before submitting.");
        return false;
        }
}

    </script> 
  </body>
</html>
