<!DOCTYPE html>
<html>
<head>
	<title>Tell us about your day</title>
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container">
		<h1>How was your day?</h1>
		<form method="POST" id="question-form">
			<div class="question-container">
				<label for="q1-slider">How many hours did you sleep today? </label>
				<input type="range" min="0" max="10" value="5" class="slider" name="sleep" id="q1-slider">
				<span id="q1-slider-value"></span>
			</div>
			<button type="submit">Submit</button>
		</form>
	</div>
	<script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>