{% block title %} - - - - - - View all users - - - - - -  {% endblock %}
{% block content %}
    {% for item in values %}
        <p>Name: {{item.username}} Email: {{item.email}} Password: {{item.password}} </p>
    {% endfor %}
- - - - - - View health data - - - - - -
    {% for entry in entries %}
        <p>Entry id: {{entry.entry_id}} userid: {{entry.user_id}} health: {{entry.health}} </p>
    {% endfor %}
- - - - - - View sleep data - - - - - -
    {% for sleep in sleeps %}
        <p>Entry id: {{sleep.entry_id}} userid: {{sleep.user_id}} sleep: {{sleep.sleep}} </p>
    {% endfor %}
{% endblock %}